In [13]:
import pandas as pd
from collections import Counter

In [190]:
df = pd.read_csv('/data/talya/TheCivilArchive/data_archive_with_entities.csv')

In [191]:
df

,סימול\n(file name),Omeka ID,Title,Short title,Record Resource (RiC-E02),Date [RiC-E19],Time Frame [DateSet RiC-E21],Description [RiC-A16],Agent - RiC-E08\nCreator (Person or organization),Contributor (Person or organization),...,PERS,PERS_CLEAN,DATE,DATE_CLEAN,TIME,LOC,GPE,DUC,PERS_CLEAN_IDS,LOC_IDS
0,NaN,NaN,"עדות אישית של אמיר תיבון, תושב נחל עוז",NaN,NaN,2023-10-08,NaN,NaN,אמיר תיבון,NaN,...,['אמיר תיבון'],['אמיר תיבון'],[],[],[],['נחל עוז'],[],[],['a04c6a2e'],['62efb63c']
1,NaN,NaN,עדות אנונימית של תצפיתנית באתר ״המקום הכי חם ב...,NaN,NaN,2023-10-09,שבוע,עדות של תצפיתנית במוצב כיסופים המתארת ההשלתטות...,תצפיתנית אנונימית - דרוש אימות,עינת פישביין,...,[],[],['אוקטובר'],[],"['שש וחצי', 'משש וחצי', '23:00']","['כרם שלום', 'נחל עוז', 'רעים', 'יפתח']","[('הארץ', 1.0)]","[('זיק', 0.8)]",[],"['becddd23', '62efb63c', '8a6121c2', '3b2a2ec1']"
2,NaN,NaN,"עדות עטייה אלאעסם, ראש המועצה לכפרים הלא מוכרי...",NaN,NaN,2023-10-09,שבוע,עלאסם מתאר את המחסור במיגוניות. באוכלוסיית הכפ...,עטייה אלאעסם,NaN,...,"['עטייה אלאעסם', ""מחמד ד'יב"", 'אמין עקל', ""ג'ו...","['עטייה אלאעסם', ""מחמד ד'יב"", 'אמין עקל', ""ג'ו...",['2018'],[],[],"['נגב', 'הנגב']",[],[],"['8ffb63f2', 'a00b26ab', 'dbee181b', 'b347ddf9...","['31f5c7ed', 'cbcdc34b']"
3,NaN,NaN,"עדות של רמי דוידיאן ממושב פטיש, בעמוד האינסטרג...",NaN,NaN,2023-10-08,שבוע,NaN,רמי דוידיאן,NaN,...,['רמי דוידיאן'],['רמי דוידיאן'],[],[],[],['מסיבת הנובה'],[],[],['2233f0a8'],['e1c6d1fc']
4,NaN,NaN,״הבן שלי אמר שיורים עליו. הייתי חייב לנסות להצ...,NaN,NaN,2023-10-11,שבוע,NaN,ניר גונטז',אמיר גונטז׳,...,"['ניר גונטז׳', 'עמרי בפרדס', 'יאיר גולן', ""ניר...","['עמרי בפרדס', 'ניר גונטז׳', ""ניר גונטז'"", 'גל...",['שבת'],[],[],['מסיבת הנובה'],[],"[('כיפת ברזל', 0.95)]","['b75e6972', 'c8ac1563', '2594308c', '53450fd8...",['e1c6d1fc']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,2023-10-12,NaN,NaN,unnamed idf soldier,NaN,...,[],[],[],[],[],[],[],[],[],[]
96,NaN,NaN,NaN,NaN,NaN,2023-10-12,NaN,NaN,trey yingst,NaN,...,[],[],[],[],[],[],[],[],[],[]
97,NaN,NaN,NaN,NaN,NaN,2023-10-13,NaN,NaN,unnamed,NaN,...,['Hamas'],[],[],[],[],[],[],[],[],[]
98,NaN,NaN,NaN,NaN,NaN,2023-10-12,NaN,NaN,ZAKA southern region head of operations Yossi ...,NaN,...,[],[],[],[],[],[],[],[],[],[]
99,NaN,NaN,NaN,NaN,NaN,2023-10-12,NaN,NaN,"Yossi Landau, the commander of ZAKA in the so...",NaN,...,"['Yossi Landau', 'ZAKA']",['Yossi Landau'],[],[],[],"['southern', 'region']",[],[],['fade9f84'],"['ddab5730', '960db2ed']"

In [192]:
df.iloc[38]['PERS_CLEAN_IDS']

"['6e76ea2f']"

In [193]:
df.iloc[57]['ORG']

"['מגלן', 'חמאס', 'צה״ל', 'קוב', 'גבעתי', 'שייטת גבעתי', 'יחידת דובדבן', 'שייטת']"

In [194]:
entity_list = ['ORG', 'PERS_CLEAN', 'DATE_CLEAN', 'LOC']
# Function to count occurrences of each entity


def convert_to_list(column):
    return column.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Function to count occurrences of each entity
def count_entities(column):
    # Convert the column elements to lists if they are strings
    column = convert_to_list(column)
    
    # Flatten the list of lists and count occurrences
    return Counter([item for sublist in column.dropna() if isinstance(sublist, list) for item in sublist])

# Assuming 'df' is your DataFrame and 'entity_list' contains the columns you want to process
entity_list = ['ORG', 'PERS_CLEAN', 'DATE_CLEAN', 'LOC']
entity_counts = {}

# Iterate over the specified columns and generate counts
for col in entity_list:
    counts = count_entities(df[col])
    entity_counts[col] = pd.DataFrame(counts.items(), columns=['name', 'count']).sort_values(by='count', ascending=False)

# To display the result
for key, count_df in entity_counts.items():
    print(f"Entity Counts for {key}:")
    print(count_df)
    print("\n")

Entity Counts for ORG:
                  name  count
10                צה״ל     20
6                 חמאס     14
15         משטרת ישראל      6
29                מגלן      4
75               גבעתי      4
..                 ...    ...
38   ובג'יהאד האיסלאמי      1
37              ולאמ"ן      1
36            חיזבאללה      1
35          Ynet+ראיון      1
102            Kibbutz      1

[103 rows x 2 columns]


Entity Counts for PERS_CLEAN:
                name  count
8         ניר גונטז׳      7
11         יאיר גולן      3
97   יהונתן שטיינברג      2
95          ארז גוזן      2
28         מואל הראל      2
..               ...    ...
43         יצחק בריק      1
42           בן גביר      1
41        טלי גוטליב      1
40          למה קרעי      1
118     Yossi Landau      1

[119 rows x 2 columns]


Entity Counts for DATE_CLEAN:
         name  count
0   7.10.2023      6
2    7.7.2000      2
1   8.10.2023      1
3   7.10.2923      1
4  13.10.2023      1


Entity Counts for LOC:
           name  count
6   מסיבת הנובה     22
9           עזה      6
21       Israel      5
36      כפר עזה      5
14     עוטף עזה      5
..          ...    ...
48       שלומית      1
49    כפר עציון      1
51         גיסי      1
53  קיבוץ נירים      1
89       region      1

[90 rows x 2 columns]

### ORG fixes
- צה״ל with different "
-   מצה"ל	שצה״ל IDF	צבא	
- Hamas, hamas, חמאס
- ומשרד החקלאות
- חמ"ל	החמ"ל
- None
- "ישראל היום
- כנסת הכנסת
- עטלפים"
- ״ישרוטל״
- קיבוץ	not an org
- דובדבן צנחנים	יחידת דובדבן
- משטרה	המשטרה

In [195]:
entity_counts['ORG'][:40]

                      name  count
10                    צה״ל     20
6                     חמאס     14
15             משטרת ישראל      6
29                    מגלן      4
75                   גבעתי      4
73            יחידת דובדבן      4
3                    החמ״ל      3
71                    מד״א      3
50                    ynet      2
78               סיירת נחל      2
77                   שייטת      2
76             שייטת גבעתי      2
39       בית החולים סורוקה      2
74                     קוב      2
21                    זק״א      2
79                  הפלס״ם      2
80              סיירת נח״ל      2
1     המקום הכי חם בגיהנום      2
11                    ימ״מ      2
5              פיקוד העורף      2
12                     מרצ      2
9              מדינת ישראל      2
60                נח"ל עוז      1
61                חדשות 12      1
62   מועצה אזורית שער הנגב      1
63                    גבים      1
72                      יס      1
66                צ׳יק צ׳ק      1
70             וטן קום קום      1
69                 רשבצ דן      1
64                  הרבש״ץ      1
68                   צהר״ם      1
67               צה"ל מגלן      1
65                    צח״י      1
0            מחמ״ל כיסופים      1
81                  טויוטה      1
92                     FOX      1
101                 מפלסים      1
100                    יממ      1
99                 כאן 11״      1

### PERS fixes
- ניר עוז not a person
- רוני ספג'
- אביחי ברודץ'
- רה נתניהו
- גל גנות|05.12.23
- ניר יצחק

In [196]:
entity_counts['PERS_CLEAN'][:40]

                       name  count
8                ניר גונטז׳      7
11                יאיר גולן      3
97          יהונתן שטיינברג      2
95                 ארז גוזן      2
28                מואל הראל      2
29                רבקה רבקה      2
30                    שי אל      2
31                  בשי אשר      2
86                 גילה פלד      2
96                יובל דואק      2
94                 מתן זנתי      2
87                 קוץ אביב      2
36               שיאיר גולן      2
93              רון ויינברג      2
92                 תמיר לשץ      2
91              נעמי חולצנו      2
90              ישראל אופיר      2
89               קובי גיבור      2
98                רון פביאן      2
88              אופיר ישראל      2
14             חגי גרוסוירט      2
9                ניר גונטז'      2
16                 תום גודו      2
15            ג'ינה סמיאטיץ      2
74              הראל הרבש״צ      1
67                   גל לוי      1
68               בתיה הולין      1
69               צביקה רפאל      1
70               צחי היישוס      1
71  Revital Vitelzon Jacobs      1
72               בכור סוויד      1
73               אריאל גיסי      1
79                דן אסולין      1
75                 עמית לוי      1
78               תודב המוקב      1
76                  רמי שני      1
77                 גיב בארי      1
85                רוני ספג'      1
84                 מזל דרום      1
83              דורון בולדס      1

In [197]:
entity_counts['PERS_CLEAN']

                name  count
8         ניר גונטז׳      7
11         יאיר גולן      3
97   יהונתן שטיינברג      2
95          ארז גוזן      2
28         מואל הראל      2
..               ...    ...
43         יצחק בריק      1
42           בן גביר      1
41        טלי גוטליב      1
40          למה קרעי      1
118     Yossi Landau      1

[119 rows x 2 columns]

## Date fixes
- 11/12/2023
- 28/10/2023הקושי
- 7.10.23	7.10.2023

In [198]:
entity_counts['DATE_CLEAN'][0:40]

         name  count
0   7.10.2023      6
2    7.7.2000      2
1   8.10.2023      1
3   7.10.2923      1
4  13.10.2023      1

## LOC fixes
- רצועת עזה	, רצועה הרצועה	
- Gaza עזה Gazza
- עוטף עזה	עוטף העוטף
- מגן and not גן
- remove מגלן גלן
- ת"א	תל אביב
- פלסים
- כביש הרצח	 כביש המוות כביש 232
- שכונת
- בניר יצחק

In [189]:
entity_counts['LOC'][:40]

           name  count
6   מסיבת הנובה     22
9           עזה      6
36      כפר עזה      5
21       Israel      5
16     עוטף עזה      5
20         בארי      4
14        נירים      4
12        ישראל      4
0       נחל עוז      4
47        שדרות      3
7       כיסופים      3
67         עוטף      3
19      ניר עוז      3
3          רעים      3
2      כרם שלום      3
10      ים המלח      3
61    שכונת דור      2
71       נתיבות      2
66        גבעתי      2
42        פריגן      2
65        קרייה      2
44      בית קמה      2
64        צאלים      2
63       אלונית      2
18          מגן      2
62          גלן      2
50       אופקים      2
17       טוקטוק      2
15         עליי      2
51   קיבוץ רעים      2
11        חורשה      2
70      תל אביב      1
58      באר שבע      1
59    מלון קיסר      1
68    ארץ ישראל      1
69       גן עדן      1
60          קוב      1
78     שער הנגב      1
72     מלון נגה      1
73      America      1

In [19]:
counts

Counter()

In [21]:
count_entities(df['PERS_CLEAN'])

Counter()

In [22]:
[item for sublist in df['PERS_CLEAN'].dropna() if isinstance(sublist, list) for item in sublist]

[]

In [23]:
df['PERS_CLEAN']

0                                        ['אמיר תיבון']
1                                                    []
2     ['עטייה אלאעסם', "מחמד ד'יב", 'אמין עקל', "ג'ו...
3                                       ['רמי דוידיאן']
4     ['ניר גונטז׳', 'עמרי בפרדס', 'יאיר גולן', "ניר...
                            ...
95                                                   []
96                                                   []
97                                                   []
98                                                   []
99                                     ['Yossi Landau']
Name: PERS_CLEAN, Length: 100, dtype: object

In [24]:
print(df['PERS_CLEAN'].apply(type).head())

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
Name: PERS_CLEAN, dtype: object

In [25]:
import ast
df['PERS_CLEAN'] = df['PERS_CLEAN'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
extracted_items = [item for sublist in df['PERS_CLEAN'].dropna() if isinstance(sublist, list) for item in sublist]

In [26]:
extracted_items

['אמיר תיבון',
 'עטייה אלאעסם',
 "מחמד ד'יב",
 'אמין עקל',
 "ג'וועד אברהים",
 'מאלק אברהים',
 'רמי דוידיאן',
 'ניר גונטז׳',
 'עמרי בפרדס',
 'יאיר גולן',
 "ניר גונטז'",
 'אחמד טיבי',
 'ניר חסון',
 'חגי גרוסוירט',
 "ג'ינה סמיאטיץ",
 'תום גודו',
 'עופר רון',
 'סער מרגוליס',
 'מנוחה חולתי',
 "אנוצ'ה סופאהון",
 "צ'אירט סאנוסאן",
 'פיאייה סטאווט',
 "ארנטת'יט קאיסאן",
 "ג'קפונג גא'נטסנה",
 'טרפונג קלאנסוואן',
 'אורי רוסו',
 'נויה פירט',
 'מואל הראל',
 'רבקה רבקה',
 'שי אל',
 'בשי אשר',
 'בן ארי',
 'אפרים גריידינגר',
 'אהרון פורוש',
 'יאיר גולן',
 'שיאיר גולן',
 'רפי מילוא',
 "מניר גונטז'",
 "ניר גונטז'",
 'גיא ההריגה',
 'למה קרעי',
 'טלי גוטליב',
 'בן גביר',
 'יצחק בריק',
 'בני גנץ',
 'בנימין נתניהו',
 'מעין טוקטוק',
 'גולן אביטבול',
 'Golan Abitbol',
 'Golan AbitbolAnd',
 'Golan Abitbol[SIGHS',
 'Donald Trump',
 'Lynsea Garrison',
 'Rikki Novetsky',
 'Diana Nguyen',
 'Paige Cowett',
 'Michael Benoist',
 'Dan Powell',
 'Marion Lozano',
 'Elisheba Ittoop',
 'Alyssa Moxley',
 'Jim Brunberg',
 'Ben Landsverk',
 'דנה ישראלי',
 'Hila Magril',
 'עידית גוטמן',
 'ניר גונטז׳',
 'פלג עורב',
 'גל לוי',
 'בתיה הולין',
 'צביקה רפאל',
 'ניר גונטז׳',
 'ניר גונטז׳',
 'ניר גונטז׳',
 'יאיר גולן',
 'ניר גונטז׳',
 'שיאיר גולן',
 'ניר גונטז׳',
 'צחי היישוס',
 'בכור סוויד',
 'אריאל גיסי',
 'הראל הרבש״צ',
 'חגי גרוסוירט',
 "ג'ינה סמיאטיץ",
 'מואל הראל',
 'תום גודו',
 'עמית לוי',
 'רבקה רבקה',
 'שי אל',
 'בשי אשר',
 'רמי שני',
 'גיב בארי',
 'תודב המוקב',
 'דן אסולין',
 'טל ממן',
 'פוד טראק',
 'צאק נוריס',
 'דורון בולדס',
 'מזל דרום',
 "רוני ספג'",
 'גילה פלד',
 'קוץ אביב',
 'אופיר ישראל',
 'קובי גיבור',
 'ישראל אופיר',
 'נעמי חולצנו',
 'תמיר לשץ',
 'רון ויינברג',
 'מתן זנתי',
 'ארז גוזן',
 'יובל דואק',
 'יהונתן שטיינברג',
 'רון פביאן',
 'גילה פלד',
 'קוץ אביב',
 'אופיר ישראל',
 'קובי גיבור',
 'ישראל אופיר',
 'נעמי חולצנו',
 'לוי אברהם',
 'תמיר לשץ',
 'רון ויינברג',
 'מתן זנתי',
 'ארז גוזן',
 'רון שטרית',
 'לילך ליברמן',
 'ליאתי מליסה',
 'חן קורן',
 'שלמה קורן',
 'למה ואתי',
 "ג'ורג' הכלב",
 'דניאל הרבש״ץ',
 'מדניאל הרבש״ץ',
 'פרח פילו',
 'איריס אלטבוים',
 "רבי מלובביץ'",
 'בן בארי',
 'יובל דואק',
 'יהונתן שטיינברג',
 'רון פביאן',
 'רינת שגב',
 'רינת בבארי',
 'איציק זוארץ',
 'רועי עידן',
 'יניב זוהר',
 'Yossi Landau']

In [69]:
synonyms_data = 'synonyms/NER Test - organizations.csv'
syn_df = pd.read_csv(synonyms_data)

# Flatten the synonyms DataFrame for easier searching
syn_dict = pd.melt(syn_df, id_vars=['name'], value_vars=['syn1', 'syn2', 'syn3', 'syn4', 'syn5', 'syn6'])
syn_dict = syn_dict.dropna().set_index('value')['name'].to_dict()

# Filter df to keep only rows where the 'ORG' has a synonym in syn_dict

# Apply the conversion to ensure that any string-encoded list is correctly evaluated
df['ORG'] = df['ORG'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Filter df to keep only rows where the 'ORG' has a synonym in syn_dict
df['ORG'] = df['ORG'].apply(lambda orgs: list({syn_dict.get(org, org) for org in orgs}))

In [61]:
new_org = df['ORG'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [67]:
df[df['ORG'].isin(syn_dict.keys())]

Empty DataFrame
Columns: [סימול
(file name), Omeka ID, Title, Short title, Record Resource (RiC-E02), Date [RiC-E19], Time Frame [DateSet RiC-E21], Description [RiC-A16], Agent - RiC-E08
Creator (Person or organization), Contributor (Person or organization), person mentioned , Place  mentioned [RiC-A11] , Event Type [RiC- A18], Form Type [RiC-A17], Content Type [RiC-A10], Representation Type RiC-A37, Language [RiC-A25], Publisher/platform [RiC-E11], item mentioned in item, item is response to item, item is part of item, Source, url2, url, קישור לקובץ מקור, testimony, מילות מפתח, Rights, חותמת זמן, מפנה / מפקיד, גרסת טופס, אוסף, קוטלג , Unnamed: 33, URL Domain, URL Title, URL Profile, Language, ORG, PERS, PERS_CLEAN, DATE, DATE_CLEAN, TIME, LOC, GPE, DUC]
Index: []

[0 rows x 47 columns]

In [70]:
df['ORG']

0                                                     []
1      [גולני, חמ"ל, מחמ״ל כיסופים, המקום הכי חם בגיה...
2      [מבקר, חמאס, המקום הכי חם בגיהנום, מדינת ישראל...
3                                           [צה"ל, חמאס]
4      [צה"ל, הימ"מ, אר־פי־ג'י, משטרה, חמאס, משרד ראש...
                             ...
795                                         [צה"ל, צה״ל]
796                        [הבריאות, הביטחון, הארץ"רופא]
797                                                   []
798                                              [הכנסת]
799                       [הנוח'בה, המכון לרפואה משפטית]
Name: ORG, Length: 800, dtype: object